body { 
  background-color: #222;
  color: #eee;
  text-align: center;
}

a { 
  text-decoration: none;
  border: none;
}

img { 
  border: none;
}

h1 { 
  font-family: chalkboard, verdana, serif;
  font-size: 36pt
}

h2 { 
  font-family: chalkboard, verdana, serif;
  font-size: 30pt
}

ul { 
  text-align: left;
}

li { 
  font-family: chalkboard, verdana, serif;
  font-size: 24pt;
}

code { 
  font-size: 18pt;
}

a.prev { 
  display: block;
  float: left;
  width: 20%;
  margin-right: 5%;
}

a.next { 
  display: block;
  margin-left: 70%;
  width: 20%;
}

img.rightPic { 
  float: right;
  display: block;
  width: 25%;
}
